@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Sansita:wght@700&display=swap');

*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}

.winnerDivision{
    width:100vw;
    height:90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Sansita', sans-serif;
    color: darkslategray;
}